#toast-container > div {
    opacity: 1;
}

.box-chart-background {

    background-color: rgba(255,255,255,0.3);

}

.pulse {
    margin:18px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #47daa3;
    box-shadow: 0 0 0 rgba(71,218,163, 0.6);
    animation: pulse 3s infinite;
}
.pulse-animation-none {
    margin:18px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 rgba(71,218,163, 1);
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(71,218,163, 1);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(71,218,163, 0.3);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(71,218,163, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(71,218,163, 1);
        box-shadow: 0 0 0 0 rgba(71,218,163, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(71,218,163, 0.3);
        box-shadow: 0 0 0 10px rgba(71,218,163, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(71,218,163, 0);
        box-shadow: 0 0 0 0 rgba(71,218,163, 0);
    }
}