{% extends '@Peerboard/layout.html.twig' %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Recent forum post: <a target="_blank" href="{{ recentPostHref }}">{{ recentPostTitle }}</a></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row" id="info-boxes">
        <!-- ./col -->
        <div class="col-lg-2 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-purple-gradient">
                <div class="inner">
                    <h4>
                        <strong>{{ linuxSysLoad }}</strong>
                        <sup style="font-size:9px;color:#aaa;">&nbsp;24h: <span style="font-weight:bold;font-size:12px;{% if peercoin24hPercentChangeAvgCPULoad >= 0 %}color:#660033;{% else %}color:#66ff66;{% endif %}">&nbsp;{{ peercoin24hPercentChangeAvgCPULoad }}</span>&nbsp;%</sup>
                    </h4>

                    <p style="font-size: 13px;">CPU Load</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-speedometer-outline"></i>
                </div>
                <a target="_blank" href="http://blog.scoutapp.com/articles/2009/07/31/understanding-load-averages" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-purple-gradient">
                <div class="inner">
                    <h4>
                        <strong>{% if linuxUsedMemory != 'N/A' %}{{ linuxUsedMemory }} %{% else %}{{ linuxUsedMemory }}{% endif %}</strong>
                        <sup style="font-size:9px;color:#aaa;">&nbsp;24h: <span style="font-weight:bold;font-size:12px;{% if peercoin24hPercentChangeAvgUsedMemory >= 0 %}color:#660033;{% else %}color:#66ff66;{% endif %}">&nbsp;{{ peercoin24hPercentChangeAvgUsedMemory }}</span>&nbsp;%</sup>
                    </h4>

                    <p style="font-size: 13px;">Used RAM</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-barcode-outline"></i>
                </div>
                <a target="_blank" href="https://en.wikipedia.org/wiki/Random-access_memory" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-4">
            {% if linuxCPUTemp is defined and linuxCPUTemp|length > 0 %}
                {% set CPUTempEnabled = true %}
            {% else %}
                {% set CPUTempEnabled = false %}
            {% endif %}
            <!-- small box -->
            <div class="small-box bg-purple-gradient">
                <div class="inner">
                    <h4>
                        <strong>{% if CPUTempEnabled %}{{ linuxCPUTemp }}{% else %}{{ 'N/A' }}{% endif %}</strong>
                        <sup style="font-size:9px;color:#aaa;">&nbsp;24h: <span style="font-weight:bold;font-size:12px;{% if peercoin24hPercentChangeAvgCPUTemp >= 0 %}color:#660033;{% else %}color:#66ff66;{% endif %}">&nbsp;{{ peercoin24hPercentChangeAvgCPUTemp }}</span>&nbsp;%</sup>
                    </h4>
                    <p style="font-size: 13px;">CPU Temp.</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-flame-outline"></i>
                </div>
                <a target="_blank" href="{% if CPUTempEnabled %}https://en.wikipedia.org/wiki/Computer_cooling{% else %}http://www.cyberciti.biz/faq/howto-linux-get-sensors-information/apt-get-install-lm-sensors-ubuntu-debian/{% endif %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-blue-gradient">
                <div class="inner">
                    <h4>
                        <strong>{{ peercoinConnectedPeersCount }}</strong>
                        <sup style="font-size:9px;color:#aaa;">&nbsp;24h: <span style="font-weight:bold;font-size:12px;{% if peercoin24hPercentChangeAvgConnections >= 0 %}color:#66ff66;{% else %}color:#660033;{% endif %}">&nbsp;{{ peercoin24hPercentChangeAvgConnections }}</span>&nbsp;%</sup>
                    </h4>

                    <p style="font-size: 13px;">Connected Peers</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-pulse-strong"></i>
                </div>
                <a target="_blank" href="https://en.wikipedia.org/wiki/Peer-to-peer" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-blue-gradient">
                <div class="inner">
                    <h4>
                        <strong>{{ peercoinPOSDifficutly }}</strong>
                        <sup style="font-size:9px;color:#aaa;">&nbsp;24h: <span style="font-weight:bold;font-size:12px;{% if peercoin24hPercentChangeAvgDifficulty >= 0 %}color:#660033;{% else %}color:#66ff66;{% endif %}">&nbsp;{{ peercoin24hPercentChangeAvgDifficulty }}</span>&nbsp;%</sup>
                    </h4>

                    <p style="font-size: 13px;">POS Difficulty</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-analytics-outline"></i>
                </div>
                <a target="_blank" href="https://en.wikipedia.org/wiki/Proof-of-stake" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-blue-gradient">
                <div class="inner">
                    <h4><strong>{{ peercoinBlockHeight }}</strong></h4>

                    <p style="font-size: 13px;">Block Height</p>
                </div>
                <div class="icon">
                    <i class="ion ion-cube"></i>
                </div>
                <a target="_blank" href="{% if peercoinBlockHeight != 'N/A' %}http://ppc.blockr.io/block/info/{{ peercoinBlockHeight }}{% else %}#{% endif %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-blue-gradient">
                <div class="inner">
                    <h4>
                        <strong>{{ peercoinBlockTransactions }}</strong>
                        <sup style="font-size:9px;color:#aaa;">&nbsp;24h: <span style="font-weight:bold;font-size:12px;{% if peercoin24hPercentChangeAvgTransactions >= 0 %}color:#66ff66;{% else %}color:#660033;{% endif %}">&nbsp;{{ peercoin24hPercentChangeAvgTransactions }}</span>&nbsp;%</sup>
                    </h4>

                    <p style="font-size: 13px;">Block Txs</p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-buffer"></i>
                </div>
                <a target="_blank" href="{% if peercoinBlockTransactions != 'N/A' %}http://ppc.blockr.io/block/info/{{ peercoinBlockHeight }}{% else %}#{% endif %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-blue-gradient">
                <div class="inner">
                    <h4><strong>{{ peercoinPrice }}</strong> USD</h4>

                    <p style="font-size: 13px;">Price</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a target="_blank" href="https://btc-e.com/exchange/ppc_usd" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-olive">
                <div class="inner">
                    <h4><strong>{{ peercoinBalance }}</strong></h4>

                    <p style="font-size: 13px;">Wallet Ballance</p>
                </div>
                <div class="icon">
                    <i class="ion ion-cash"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-olive">
                <div class="inner">
                    <h4 style="display:inline-block; margin: 2px;"><strong>{{ peercoinMint }}</strong></h4><sup style="font-size: 10px;margin-left:5px;color:#aaa;">New Mint</sup>
                    <br/>
                    <h4 style="display:inline-block; margin: 2px;"><strong>{{ peercoinStake }}</strong></h4><sup style="font-size: 10px;margin-left:5px;color:#aaa;">Stake</sup>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <div class="row" style="margin-bottom:5px;">
        <section class="col-lg-12">
            <div class="box box-info box-chart-background">
                <div class="box-header with-border">
                    <h3 class="box-title">Peers list</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">

                    <table id="connectedPeers" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>IP:Port</th>
                            <th>Connected Date</th>
                            <th>Version</th>
                            <th>Height</th>
                            <th>Connection init</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>#</th>
                            <th>IP:Port</th>
                            <th>Connected Date</th>
                            <th>Version</th>
                            <th>Height</th>
                            <th>Connection init</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% if peercoinConnectedPeers %}
                            {% for peer in peercoinConnectedPeers %}
                                <tr>
                                    <td>
                                        {{ loop.index }}
                                    </td>
                                    <td>
                                        {{ peer.addr }}
                                    </td>
                                    <td>
                                        {{ peer.conntime|date('d-m-Y H:i:s') }}
                                    </td>
                                    <td>
                                        {{ peer.subver|trim('/') }}
                                    </td>
                                    <td>
                                        {{ peer.height }}
                                    </td>
                                    <td>
                                        {% if peer.inbound %}<span class="label label-success">By Remote Node</span>&nbsp;<span class="label label-default" title="This means you have port open">?</span>{% else %}<span class="label label-default">By Your Node</span>&nbsp;{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>

    </div>


    <div class="row" style="margin-bottom:5px;">
        <section class="col-lg-12">
            {% set chartPeriodHours = app.request.get('chartPeriodHours') %}
            <a href="{{ path('peerboard_homepage',{'chartPeriodHours':0.4}) }}" class="btn {% if chartPeriodHours == 0.4 %}btn-primary disabled{% else %}btn-default{% endif %} btn-sm" title="Refreshing every one minute">Live</a>
            <a href="{{ path('peerboard_homepage',{'chartPeriodHours':3}) }}" class="btn {% if chartPeriodHours == 3 %}btn-primary disabled{% else %}btn-default{% endif %} btn-sm">3h</a>
            <a href="{{ path('peerboard_homepage',{'chartPeriodHours':12}) }}" class="btn {% if chartPeriodHours == 12 %}btn-primary disabled{% else %}btn-default{% endif %} btn-sm">12h</a>
            <a href="{{ path('peerboard_homepage',{'chartPeriodHours':24}) }}" class="btn {% if chartPeriodHours == 24 or chartPeriodHours|length == 0 %}btn-primary disabled{% else %}btn-default{% endif %} btn-sm">24h</a>
            <a href="{{ path('peerboard_homepage',{'chartPeriodHours':168}) }}" class="btn {% if chartPeriodHours == 168 %}btn-primary disabled{% else %}btn-default{% endif %} btn-sm">7d</a>
            <a href="{{ path('peerboard_homepage',{'chartPeriodHours':720}) }}" class="btn {% if chartPeriodHours == 720 %}btn-primary disabled{% else %}btn-default{% endif %} btn-sm">1M</a>
            <a href="{{ path('peerboard_homepage',{'chartPeriodHours':2160}) }}" class="btn {% if chartPeriodHours == 2160 %}btn-primary disabled{% else %}btn-default{% endif %} btn-sm">3M</a>
            <a href="{{ path('peerboard_homepage',{'chartPeriodHours':4320}) }}" class="btn {% if chartPeriodHours == 4320 %}btn-primary disabled{% else %}btn-default{% endif %} btn-sm">6M</a>
            <a href="{{ path('peerboard_homepage',{'chartPeriodHours':8760}) }}" class="btn {% if chartPeriodHours == 8760 %}btn-primary disabled{% else %}btn-default{% endif %} btn-sm">1Y</a>
        </section>
    </div>
    <!-- Main row -->
    <div class="row">

        <section class="col-lg-12 connectedSortable">

            <div class="box box-info box-chart-background">
                <div class="box-header with-border">
                    <h3 class="box-title">Connections</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="connectionsChart" style="height:250px"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

        <section class="col-lg-12 connectedSortable">

            <div class="box box-info box-chart-background">
                <div class="box-header with-border">
                    <h3 class="box-title">POS Difficulty</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="POSDiffChart" style="height:250px"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

        <section class="col-lg-12 connectedSortable">

            <div class="box box-info box-chart-background">
                <div class="box-header with-border">
                    <h3 class="box-title">Transactions</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="TransactionsChart" style="height:250px"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

        <section class="col-lg-12 connectedSortable">

            <div class="box box-info box-chart-background">
                <div class="box-header with-border">
                    <h3 class="box-title">Temperature</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="temperatureChart" style="height:250px"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

        <section class="col-lg-12 connectedSortable">

            <div class="box box-info box-chart-background">
                <div class="box-header with-border">
                    <h3 class="box-title">CPU Load</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="CPULoadChart" style="height:250px"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

        <section class="col-lg-12 connectedSortable">

            <div class="box box-info box-chart-background">
                <div class="box-header with-border">
                    <h3 class="box-title">Used RAM %</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="usedMemoryChart" style="height:250px"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>

    </div>
    <!-- /.row (main row) -->

</section>
<!-- /.content -->
{% endblock %}
{% block page_scripts %}

<script>

    function updateData() {

        $('#refreshIcon').addClass('fa-spin');

        $.ajax({
            url: '{{ path('peerboard_homepage') }}',
            success: function(html){

                $('#info-boxes').html($(html).find('#info-boxes').html());
                $('#refreshIcon').removeClass('fa-spin');

            },
        });

    }

    // TODO chart update for live charts
    function updateCharts(temperatureChart,connectionsChart,CPULoadChart,POSDiffChart,usedMemoryChart,transactionsChart) {

        $.ajax({
            url: '{{ path('ajax_peerboard_chart') }}',
            success: function(json){

                if (!document.hidden) {

                    temperatureChart.addData([json.temperature,json.temperature,json.temperature],json.labelTemperature);
                    temperatureChart.removeData();
                    connectionsChart.addData([json.connections,json.connections,json.connections],json.labelConnections);
                    connectionsChart.removeData();
                    CPULoadChart.addData([json.cpuLoad,json.cpuLoad,json.cpuLoad],json.labelCpuLoad);
                    CPULoadChart.removeData();
                    POSDiffChart.addData([json.posDiff,json.posDiff,json.posDiff],json.labelPosDiff);
                    POSDiffChart.removeData();
                    usedMemoryChart.addData([json.usedMemory,json.usedMemory,json.usedMemory],json.labelUsedMemory);
                    usedMemoryChart.removeData();
                    transactionsChart.addData([json.transactions,json.transactions,json.transactions],json.labelTransactions);
                    transactionsChart.removeData();

                }

            },
        });

    }

    var chartOptions = {
        //Boolean - If we should show the scale at all
        showScale: true,
        //Boolean - Whether grid lines are shown across the chart
        scaleShowGridLines: true,
        //String - Colour of the grid lines
        scaleGridLineColor: "rgba(0,0,0,.06)",
        //Number - Width of the grid lines
        scaleGridLineWidth: 1,
        //Boolean - Whether to show horizontal lines (except X axis)
        scaleShowHorizontalLines: true,
        //Boolean - Whether to show vertical lines (except Y axis)
        scaleShowVerticalLines: true,
        //Boolean - Whether the line is curved between points
        bezierCurve: true,
        //Number - Tension of the bezier curve between points
        bezierCurveTension: 0.3,
        //Boolean - Whether to show a dot for each point
        pointDot: false,
        //Number - Radius of each point dot in pixels
        pointDotRadius: 1,
        //Number - Pixel width of point dot stroke
        pointDotStrokeWidth: 1,
        //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
        pointHitDetectionRadius: 20,
        //Boolean - Whether to show a stroke for datasets
        datasetStroke: true,
        //Number - Pixel width of dataset stroke
        datasetStrokeWidth: 2,
        //Boolean - Whether to fill the dataset with a color
        datasetFill: true,
        //String - A legend template
        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){><%=datasets[i].label%><%}%></li><%}%></ul>",
        //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
        maintainAspectRatio: true,
        //Boolean - whether to make the chart responsive to window resizing
        responsive: true

    };

    {% set chartDataConnections = chartDataGetConnections(chartPeriodHours,24) %}
    {% set chartDataMaxConnections = chartDataGetMaxConnections(chartPeriodHours,24) %}
    {% set chartDataMinConnections = chartDataGetMinConnections(chartPeriodHours,24) %}

    var connectionsLabels = {{ chartDataConnections.l|raw }};
    var connectionsData = {{ chartDataConnections.d|raw }};

    var connectionsMaxData = {{ chartDataMaxConnections.d|raw }};

    var connectionsMinData = {{ chartDataMinConnections.d|raw }};

    {% set chartDataCPULoad = chartDataGetCPULoad(chartPeriodHours,24) %}
    {% set chartDataMaxCPULoad = chartDataGetMaxCPULoad(chartPeriodHours,24) %}
    {% set chartDataMinCPULoad = chartDataGetMinCPULoad(chartPeriodHours,24) %}

    var CPULoadLabels = {{ chartDataCPULoad.l|raw }};
    var CPULoadData = {{ chartDataCPULoad.d|raw }};

    var CPULoadMaxData = {{ chartDataMaxCPULoad.d|raw }};

    var CPULoadMinData = {{ chartDataMinCPULoad.d|raw }};

    {% set chartDataUsedMemory = chartDataGetUsedMemory(chartPeriodHours,24) %}
    {% set chartDataMaxUsedMemory = chartDataGetMaxUsedMemory(chartPeriodHours,24) %}
    {% set chartDataMinUsedMemory = chartDataGetMinUsedMemory(chartPeriodHours,24) %}

    var usedMemoryLabels = {{ chartDataUsedMemory.l|raw }};
    var usedMemoryData = {{ chartDataUsedMemory.d|raw }};

    var usedMemoryMaxData = {{ chartDataMaxUsedMemory.d|raw }};

    var usedMemoryMinData = {{ chartDataMinUsedMemory.d|raw }};

    {% set chartDataPOSDiff = chartDataGetPOSDiff(chartPeriodHours,24) %}
    {% set chartDataMaxPOSDiff = chartDataGetMaxPOSDiff(chartPeriodHours,24) %}
    {% set chartDataMinPOSDiff = chartDataGetMinPOSDiff(chartPeriodHours,24) %}

    var POSDiffLabels = {{ chartDataPOSDiff.l|raw }};
    var POSDiffData = {{ chartDataPOSDiff.d|raw }};

    var POSDiffMaxData = {{ chartDataMaxPOSDiff.d|raw }};

    var POSDiffMinData = {{ chartDataMinPOSDiff.d|raw }};

    {% set chartDataTransactions = chartDataGetTransactions(chartPeriodHours,24) %}
    {% set chartDataMaxTransactions = chartDataGetMaxTransactions(chartPeriodHours,24) %}
    {% set chartDataMinTransactions = chartDataGetMinTransactions(chartPeriodHours,24) %}

    var transactionsLabels = {{ chartDataTransactions.l|raw }};
    var transactionsData = {{ chartDataTransactions.d|raw }};

    var transactionsMaxData = {{ chartDataMaxTransactions.d|raw }};

    var transactionsMinData = {{ chartDataMinTransactions.d|raw }};

    {% set chartDataTemperature = chartDataGetTemperature(chartPeriodHours,24) %}
    {% set chartDataMaxTemperature = chartDataGetMaxTemperature(chartPeriodHours,24) %}
    {% set chartDataMinTemperature = chartDataGetMinTemperature(chartPeriodHours,24) %}


    var temperatureLabels = {{ chartDataTemperature.l|raw }};
    var temperatureData = {{ chartDataTemperature.d|raw }};

    var temperatureMaxData = {{ chartDataMaxTemperature.d|raw }};

    var temperatureMinData = {{ chartDataMinTemperature.d|raw }};

    var temperatureChartData = {
        labels: temperatureLabels.reverse(),
        datasets: [
            {
                label: "Temperature MAX",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(102, 0, 51, 0.15)",
                pointColor: "rgba(102, 0, 51, 0.4)",
                data: temperatureMaxData.reverse()
            },
            {
                label: "Temperature",
                fillColor: "rgba(96, 92, 168, 0.1)",
                strokeColor: "rgba(60,141,188,0.8)",
                pointColor: "#3b8bba",
                pointStrokeColor: "rgba(60,141,188,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(60,141,188,1)",
                data: temperatureData.reverse()
            },
            {
                label: "Temperature MIN",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(0, 0, 0, 0.15)",
                pointColor: "rgba(0, 0, 0, 0.4)",
                data: temperatureMinData.reverse()
            },
        ]
    };

    var connectionsChartData = {
        labels: connectionsLabels.reverse(),
        datasets: [
            {
                label: "Connections MAX",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(102, 0, 51, 0.15)",
                pointColor: "rgba(102, 0, 51, 0.4)",
                data: connectionsMaxData.reverse()
            },
            {
                label: "Connections",
                fillColor: "rgba(96, 92, 168, 0.1)",
                strokeColor: "rgba(60,141,188,0.8)",
                pointColor: "#3b8bba",
                pointStrokeColor: "rgba(60,141,188,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(60,141,188,1)",
                data: connectionsData.reverse()
            },
            {
                label: "Connections MIN",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(0, 0, 0, 0.15)",
                pointColor: "rgba(0, 0, 0, 0.4)",
                data: connectionsMinData.reverse()
            },
        ]
    };

    var CPULoadChartData = {
        labels: CPULoadLabels.reverse(),
        datasets: [
            {
                label: "CPU Load MAX",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(102, 0, 51, 0.15)",
                pointColor: "rgba(102, 0, 51, 0.4)",
                data: CPULoadMaxData.reverse()
            },
            {
                label: "CPU Load",
                fillColor: "rgba(96, 92, 168, 0.1)",
                strokeColor: "rgba(60,141,188,0.8)",
                pointColor: "#3b8bba",
                pointStrokeColor: "rgba(60,141,188,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(60,141,188,1)",
                data: CPULoadData.reverse()
            },
            {
                label: "CPU Load MIN",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(0, 0, 0, 0.15)",
                pointColor: "rgba(0, 0, 0, 0.4)",
                data: CPULoadMinData.reverse()
            },
        ]
    };

    var usedMemoryChartData = {
        labels: usedMemoryLabels.reverse(),
        datasets: [
            {
                label: "Used RAM MAX",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(102, 0, 51, 0.15)",
                pointColor: "rgba(102, 0, 51, 0.4)",
                data: usedMemoryMaxData.reverse()
            },
            {
                label: "Used RAM",
                fillColor: "rgba(96, 92, 168, 0.1)",
                strokeColor: "rgba(60,141,188,0.8)",
                pointColor: "#3b8bba",
                pointStrokeColor: "rgba(60,141,188,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(60,141,188,1)",
                data: usedMemoryData.reverse(),

            },
            {
                label: "Used RAM MIN",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(0, 0, 0, 0.15)",
                pointColor: "rgba(0, 0, 0, 0.4)",
                data: usedMemoryMinData.reverse()
            },
        ]
    };

    var POSDiffChartData = {
        labels: POSDiffLabels.reverse(),
        datasets: [
            {
                label: "POS Diff MAX",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(102, 0, 51, 0.15)",
                pointColor: "rgba(102, 0, 51, 0.4)",
                data: POSDiffMaxData.reverse()
            },
            {
                label: "POS Diff",
                fillColor: "rgba(96, 92, 168, 0.1)",
                strokeColor: "rgba(60,141,188,0.8)",
                pointColor: "#3b8bba",
                pointStrokeColor: "rgba(60,141,188,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(60,141,188,1)",
                data: POSDiffData.reverse()
            },
            {
                label: "POS Diff MIN",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(0, 0, 0, 0.15)",
                pointColor: "rgba(0, 0, 0, 0.4)",
                data: POSDiffMinData.reverse()
            },
        ]
    };

    var transactionsChartData = {
        labels: transactionsLabels.reverse(),
        datasets: [
            {
                label: "Transactions per block MAX",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(102, 0, 51, 0.15)",
                pointColor: "rgba(102, 0, 51, 0.4)",
                data: transactionsMaxData.reverse()
            },
            {
                label: "Transactions per block",
                fillColor: "rgba(96, 92, 168, 0.1)",
                strokeColor: "rgba(60,141,188,0.8)",
                pointColor: "#3b8bba",
                pointStrokeColor: "rgba(60,141,188,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(60,141,188,1)",
                data: transactionsData.reverse()
            },
            {
                label: "Transactions per block MIN",
                fillColor: "rgba(255, 255, 255, 0)",
                strokeColor: "rgba(0, 0, 0, 0.15)",
                pointColor: "rgba(0, 0, 0, 0.4)",
                data: transactionsMinData.reverse()
            },
        ]
    };

    var temperatureChartCanvas = $("#temperatureChart").get(0).getContext("2d");
    var temperatureChart = new Chart(temperatureChartCanvas);
    temperatureChart = temperatureChart.Line(temperatureChartData, chartOptions);

    var chartOptionsConnections = JSON.parse(JSON.stringify(chartOptions));
    chartOptionsConnections.scaleBeginAtZero = true;
    var connectionsChartCanvas = $("#connectionsChart").get(0).getContext("2d");
    var connectionsChart = new Chart(connectionsChartCanvas);
    connectionsChart = connectionsChart.Line(connectionsChartData, chartOptionsConnections);

    var chartOptionsCPULoad = JSON.parse(JSON.stringify(chartOptions));
    chartOptionsCPULoad.scaleBeginAtZero = true;
    var CPULoadChartCanvas = $("#CPULoadChart").get(0).getContext("2d");
    var CPULoadChart = new Chart(CPULoadChartCanvas);
    CPULoadChart = CPULoadChart.Line(CPULoadChartData, chartOptionsCPULoad);

    var chartOptionsUsedMemory = JSON.parse(JSON.stringify(chartOptions));
    chartOptionsUsedMemory.scaleOverride = true;
    chartOptionsUsedMemory.scaleSteps = 5;
    chartOptionsUsedMemory.scaleStepWidth = 20;
    chartOptionsUsedMemory.scaleStartValue = 0;

    var usedMemoryChartCanvas = $("#usedMemoryChart").get(0).getContext("2d");
    var usedMemoryChart = new Chart(usedMemoryChartCanvas);
    usedMemoryChart = usedMemoryChart.Line(usedMemoryChartData, chartOptionsUsedMemory);

    var POSDiffChartCanvas = $("#POSDiffChart").get(0).getContext("2d");
    var POSDiffChart = new Chart(POSDiffChartCanvas);
    POSDiffChart = POSDiffChart.Line(POSDiffChartData, chartOptions);

    var chartOptionsTransactions = JSON.parse(JSON.stringify(chartOptions));
    chartOptionsTransactions.scaleBeginAtZero = true;
    var transactionsChartCanvas = $("#TransactionsChart").get(0).getContext("2d");
    var transactionsChart = new Chart(transactionsChartCanvas);
    transactionsChart = transactionsChart.Line(transactionsChartData, chartOptionsTransactions);

    {% if chartPeriodHours == 0.4 %}

    setInterval(function(){
        updateCharts(temperatureChart,connectionsChart,CPULoadChart,POSDiffChart,usedMemoryChart,transactionsChart);
    },60000);

    {% endif %}

    setInterval(function(){
        updateData();
    },30000);

    $('#refreshIcon').click(
            updateData
    );

    // disconnected, connected peers notifications

    toastr.options.timeOut = 30000; // How long the toast will display without user interaction
    toastr.options.extendedTimeOut = 10000; // How long the toast will display after a user hovers over it
    toastr.options.progressBar = true;

    function oldNewConnectedPeersNotification() {

        $.ajax({
            url: '{{ path('ajax_peerboard_newoldpeers') }}',
            success: function(json){

                if(json.status != 'success') {

                    return false;

                }

                for(i = 0; i < json.peers.old.length; i++) {

                    if(json.peers.old[i]) {

                        title = 'Peer disconnected';
                        toastr.warning(json.peers.old[i].addr + '<br/>' + json.peers.old[i].subver.slice(1,-1),title);

                    }

                }

                for(i = 0; i < json.peers.new.length; i++) {

                    if(json.peers.new[i]) {

                        title = 'Peer connected';
                        toastr.success(json.peers.new[i].addr + '<br/>' + json.peers.new[i].subver.slice(1,-1),title);

                    }

                }

            },
        });

    }

    setInterval(function(){
        oldNewConnectedPeersNotification();
    },45000);

    $(function () {
        $('#connectedPeers').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 10
        });
    });

</script>

{% endblock %}